version: "3.9"

services:
  backend:
    build: .
    context: ./app
    dockerfile: Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
  redis:
    image: redis:7
    ports:
      - "6379:6379"